.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  display: flex;
}
.logo{
  width: 183px;
  height: 32px;
}
.logo__place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
width: 730px;
flex-direction: row;
justify-content: flex-start;
align-self: center;
text-align: left;
font-size: 102px;
font-weight: bold;
line-height: 96px;
padding-left: 64px;
z-index: 4;
}
.header__subtitle{
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 5;
}
.header__link{
  color: #2f80ed;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right:0;
  bottom:0;
  z-index: 2;  
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

/* и элемента с модификатором вида ключ-значение */
/*.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}*/
.content{
  padding: 0;
  margin: 0;
}
.description{
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}
.two-columns{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  margin:0 auto;
}
.two-columns__paragraf{
line-height: 34px;
font-size: 24px;
font-weight: normal;
}
.two-columns__paragraf_bottom{
  margin-bottom: 30px;
}

.two-columns__paragraf_top{
  margin-top: 30px;
  }

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
  
.two-colums__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  list-style-type: none;
}
.digits{
  margin: 0;
  padding: 0;
}
.section-title{
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

/*темная тема*/
.section-title_theme_dark{
  z-index: 7;
  margin-top: 90px;
}
.section-subtitle{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
.section-subtitle_theme_dark{
  z-index: 7;
}

.digits__table{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  padding-inline-start: 0px;
  margin-bottom: 100px;
  margin-top: 0;
  }

.table_theme_dark{
  z-index: 7;
  margin-bottom: 90px;
}
.table__cell{
  width: 250px;
  margin-top: 60px;
}
.table__cell_theme_dark{
width: 200px;
margin-top: 80px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.digits_center-content, .kaufman_center-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*сделать общий блок центровки*/
}
.table__text_margin{
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman{
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
  min-height: 700px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*min-height: 700px;*/

}
.feynman__title{
  width: 648px;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 8;
  text-align: center;
  margin: 0;
}
.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 7;
  margin: 70px 0 0 0;
}
.feynman__link{
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;

}
.feynman__image{
  width: 867px;
  height: 637px;
  position: absolute;
  left:0;
  bottom:0;
  z-index: 1;
}
.kaufman{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  position: relative;
}
.kaufman_triangle{
  width: 867px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  overflow: hidden;
  z-index: 1;
}
.footer{
  margin: 0;
  padding: 0;
  background-color:midnightblue;
   color: white;
   display: flex;
 /* flex-direction: row;*/
}
.footer__column-links{
  list-style-type: none;
  padding-inline-start: 0px;
}
.footer__column-link{
  list-style-type: none;
  padding-inline-start: 0px;
  color: white;
}